:root {
  --main-color: #212121;
  --accent-color: #2196F3;
  --add-color: #757575;
  --main-bg-color:#2F303A;
  --white:#FFF;
}
span.web {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
span.studio {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
a {
  text-decoration: none;
  color: #212121;
}
a:hover {
  text-decoration: none;
  color: #2196f3;
}
a:visited {
  text-decoration: none;
}
a:active {
  color: #2196f3;
  text-decoration: none;
}
.phone {
  color: #757575;
}
.google_link_text {
  color: white;
}

